<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.st.dao.UserDao">
<!-- SQL语句 -->
<select id="test" resultType="string">
	select now()
</select>
	<select id="getuserCount" resultType="int" parameterType="map">
		select count(User_id) from crm_user where User_id like '%${check}%' or
		User_loginname like '%${check}%' or
		User_realname like '%${check}%'
	</select>
	<select id="user_list" resultType="map" parameterType="map">
		select * from crm_user where User_id like '%${check}%' or
		User_loginname like '%${check}%' or
		User_realname like '%${check}%'
		limit ${start},${limit}
	</select>
	<delete id="user_del"  parameterType="map">
		delete from crm_user where User_id=#{User_id}
	</delete>
	
	<delete id="user_del_more"  parameterType="map">
		delete from crm_user where User_id in (${userids})
	</delete>
	
	<insert id="user_save" parameterType="map">
		insert into crm_user(User_id,User_loginname,User_loginpass,User_realname,User_sex,User_address,User_tel)
		values(#{uuid},#{User_loginname},#{User_loginpass},#{User_realname},#{User_sex},#{User_address},#{User_tel})
	</insert>
	
	<update id="user_update" parameterType="map">
		update crm_user set 
		User_realname=#{User_realname},User_sex=#{User_sex},User_tel=#{User_tel},User_address=#{User_address}
		where User_id=#{User_id}
	</update>
	
	<select	id="user_login" resultType="map" parameterType="map">
	select * from crm_user where User_loginname=#{login_name}
	</select>
	
	<update id="editpass" parameterType="map">
		update crm_user set User_loginpass=#{newpass} where User_id=#{User_id}
	</update>
	
	<select id="confirmusername" resultType="int" parameterType="map">
		select count(User_id) from crm_user where User_loginname = #{User_loginname}
	</select>
</mapper>